body {
	background:#fff url(../image/Homepage_Background-04.png) 10px 0px;
}

h1{
	font-size:40px;
	font-weight: bold;
	letter-spacing: .3px;
	font-family: Titillium Web, Helvetica Neue, Helvetica, Arial, Sans-serif;
	color:#E51E25;
	margin-top:24px;
}

p{
	font-size: 25px;
	font-family: Titillium Web, Helvetica Neue, Helvetica, Arial, Sans-serif;
	line-height: 40px;
	margin-bottom:20px;
	color: #58595B;
	letter-spacing:.5px;
	margin-bottom:20px;
}
 
a{
font-size: 26px;
line-height: 40px;
font-family: Titillium Web, Helvetica Neue, Helvetica, Arial, Sans-serif;
margin-bottom:20px;
color: #58595B;
letter-spacing:.5px;
word-spacing: 2px;
}

p a{
font-size: 26px;
line-height: 40px;
font-family: Titillium Web, Helvetica Neue, Helvetica, Arial, Sans-serif;
text-decoration: underline;
margin-bottom:20px;
color: #58595B;
letter-spacing:.5px;
word-spacing: 2px;
}

#header{
	font-size: 58px;
	font-weight: bold;
	line-height: 80px;
	color: #F44336;
	border-bottom: 1px solid red;
	margin-bottom: 28px;
	word-spacing: 6px;
}

hr{
	margin: 0;
	border: 1px solid #F44336;
}

.carousel{
	border-top: 1px solid red;
}

/* nav */

.navbar, 
.navbar-default, 
.navbar-static-top{
	margin-bottom: 1px;
	margin-top: 8px;
}

.navbar-default{
	background-color: transparent;
	border: 0;
}

.navbar-default .navbar-brand{
	color:#F44336;
}

.navbar-brand{
	font-size: 26px;
	font-family: Titillium Web, Helvetica Neue, Helvetica, Arial, Sans-serif;
	font-weight: bold;
	color:#F44336;
	letter-spacing:.5px;
	word-spacing: 2px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.nav a{
	font-size: 22px;
	font-family: Titillium Web, Helvetica Neue, Helvetica, Arial, Sans-serif;
	color: #F44336;
	letter-spacing:.5px;
	word-spacing: 2px;
	margin-bottom: 0;
	padding-bottom: 0;
	float: right;
}

.nav>li>a{
	padding 0;
}

/* /nav */

/* mouse over link */
a:hover {
    color:#E51E25;
}

/* selected link */
a:active {
    color:#E51E25;
}


::-webkit-scrollbar {
  width: 1px;
}


.carousel-control{
	text-shadow: none;
	color: red;
}

.carousel-control.left{
	background-image: none;
}

.carousel-control.right{
	background-image: none;
}