*{
	padding: 0;
	margin: 0;
}
body {
	background:#fff url(../image/Homepage_Background-04.png) 0px 0px;
	font-family: 'Titillium Web', Helvetica, Arial, Sans-serif;
	font-size: 16px;
	line-height: 20px;
}

/* Navigation Styles */
	.navbar{
		margin-bottom: 0px;
	}
	.navbar-default{
		background: none;
		border: none;
		color: #E51E25;
		height: 65px;
		max-height: 65px;
		font-weight: 400;
		margin-top: 23px;
	}
	.navbar-default a,
	.navbar-brand,
	.navbar-default .navbar-brand,
	.navbar-default .navbar-nav>li>a{
		letter-spacing:.4px;
		word-spacing: 2px;
		font-size: 16px;
		text-decoration: none;
		color: #E51E25;
	}
	.navbar-default a:hover,
	.navbar-brand:hover,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-nav>li>a:hover{
		text-decoration: underline;
		color: #E51E25;
	}
	.navbar-brand{
		font-weight: 600;
	}
/* End of Navigation Styles */

/* General Styles */
	h1{
		font-size: 32px;
		line-height: 40px;
		font-weight: bold;
		color: #58595B;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	h2{
		font-size: 16px;
		font-weight: bold;
		line-height: 20px;
		color: #E51E25;
	}
	h3{
		font-size: 16px;
		font-weight: bold;
		line-height: 20px;
		color: #58595B;
	}
	p{
		color: #58595B;
		letter-spacing: .2px;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 20px;
	}
	.introduction a{
		color: #58595B;
		text-decoration: underline;
		letter-spacing: .5px;
		word-spacing: 2px;
		cursor: pointer;
	}
	a{
		color: #E51E25;
		text-decoration: underline;
		letter-spacing: .5px;
		word-spacing: 2px;
		cursor: pointer;
	}
	/* mouse over link */
	a:hover{
	 	color: #E51E25;
		text-decoration: underline;
	}
	/* selected link */
	a:active{
	  	color: #E51E25;
		text-decoration: underline;
	}
	
/* End of General Styles */

/* Utility Styles */

	/* Margins */
	.margin-top-6{
		margin-top: 6px;
	}
	.margin-top-16{
		margin-top: 16px;
	}
	.margin-top-20{
		margin-top: 20px;
	}
	.margin-left-16{
		margin-left: 16px;
	}
	.margin-bottom-minus-4{
		margin-bottom: -4px;
	}

	/* Colors */
	.red{
		color:#E51E25
	}
	.grey{
		color: #58595B
	}

/* End of Utility Styles */

/* Panel-cards */
	.panel-heading{
		background: url(../image/starskyhutch.png) no-repeat top center;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		padding: 0;
		height: 200px;
		max-height: 200px;
	}
/* End of Panel-cards */

/* Button Styles */
	button{
		font-size: 16px;
	}
	.primary{
		color: white;
		border: 1px solid #E51E25;
		border-radius: 4px;
		background-color: #E51E25;
		padding: 9px 23px;
	}
	.primary:hover{
		color: white;
		border: 1px solid #C3191F;
		border-radius: 4px;
		background-color: #C3191F;
		padding: 9px 23px;
	}
	.secondary{
		color: #E51E25;
		border: 1px solid #E51E25;
		border-radius: 4px;
		background: none;
		padding: 9px 27px;
	}
	.secondary:hover{
		color: #E51E25;
		border: 1px solid #E51E25;
		border-radius: 4px;
		background: #e51e2513;
		padding: 9px 27px;
	}
/* End of Button Styles */


/* Style scrollbar width so that it doesn't knock designs off the grid */
::-webkit-scrollbar {
  width: 1px;
}
