*{
	padding: 0;
	margin: 0;
}
body {
	background:#fff url(../image/Homepage_Background-04.png) 0px 0px;
	font-family: 'Titillium Web', Helvetica, Arial, Sans-serif;
	font-size: 25px;
	line-height: 40px;
}

/* Navigation Styles */
	.navbar{
		margin-bottom: 0px;
	}
	.navbar-default{
		background: none;
		border: none;
		color: #E51E25;
		height: 72px;
		max-height: 72px;
		font-weight: 400;
		margin-top: 42px;
	}
	.navbar-default a,
	.navbar-brand,
	.navbar-default .navbar-brand,
	.navbar-default .navbar-nav>li>a{
		letter-spacing:.4px;
		word-spacing: 2px;
		font-size: 20px;
		text-decoration: none;
		color: #E51E25;
	}
	.navbar-default a:hover,
	.navbar-brand:hover,
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-nav>li>a:hover{
		text-decoration: underline;
		color: #E51E25;
	}
	.navbar-brand{
		font-weight: 600;
	}
/* End of Navigation Styles */

/* General Styles */
	h1{
		font-size: 42px;
		line-height: 60px;
		font-weight: bold;
		color: #58595B;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	h2{
		font-size: 30px;
		font-weight: bold;
		line-height: 40px;
		color: #58595B;
	}
	h3{
		font-size: 24px;
		font-weight: bold;
		line-height: 40px;
		color: #58595B;
	}
	p{
		color: #58595B;
		letter-spacing: .2px;
		font-size: 20px;
		line-height: 38px;
		margin-bottom: 25px;
	}
	.introduction a{
		color: #58595B;
		text-decoration: underline;
		letter-spacing: .5px;
		word-spacing: 2px;
		cursor: pointer;
	}
	a{
		color: #E51E25;
		text-decoration: underline;
		letter-spacing: .5px;
		word-spacing: 2px;
		cursor: pointer;
	}
	/* mouse over link */
	a:hover{
	 	color: #E51E25;
		text-decoration: underline;
	}
	/* selected link */
	a:active{
	  	color: #E51E25;
		text-decoration: underline;
	}
	
/* End of General Styles */

/* Utility Styles */

	/* Margins */
	.margin-top-6{
		margin-top: 6px;
	}
	.margin-top-20{
		margin-top: 20px;
	}

	/* Colors */
	.red{
		color:#E51E25
	}
	.grey{
		color: #58595B
	}

/* End of Utility Styles */

/* Panel-cards */
	.panel-heading{
		background: url(../image/starskyhutch.png) no-repeat top center;
		-webkit-background-size: cover;
  		-moz-background-size: cover;
  		-o-background-size: cover;
  		background-size: cover;
		padding: 0;
		height: 200px;
		max-height: 200px;
	}
/* End of Panel-cards */

/* Style scrollbar width so that it doesn't knock designs off the grid */
::-webkit-scrollbar {
  width: 1px;
}
